*~
*.o
*.lo
*.la
*.so
*.html
.DS_Store
.deps
.dirstamp
.libs
/release-notes-*
/ChangeLog
/Makefile
/Makefile.in
/NEWS
/aclocal.m4
/autom4te.cache
/config.h.in
/configure
/docs
/config.h
/config.log
/config.lt
/config.status
/libtool
/luarocks-config.lua
/lyaml-*.rockspec
/lyaml-*.tar.gz
/stamp-h1
