*~
*.o
*.lo
*.la
*.so
*.html
.DS_Store
.deps
.dirstamp
.libs
/Makefile
/NEWS
/autom4te.cache
/docs
/config.h
/config.log
/config.lt
/config.status
/libtool
/luarocks-config.lua
/lyaml-*.tar.gz
/stamp-h1
